@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap');

body {
    background-color: #f8f4e6;
    font-family: 'Zen Maru Gothic', sans-serif;
    text-align: center;
    color: #8f6552;
}

#clock-show {
    border: solid 2px;
}